.video-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    width: auto;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: contain;
    margin: 0;
    padding: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.tagline {
    font-size: 35px;
    margin-bottom: 10px;
    margin-top: 100px;
    color: #000;
    margin-left: 70px;
}

.sub-tagline {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 70px;
}

.button-container {
    display: flex;
    justify-content: left;
    margin-left: 70px;
}

.carousel-control-prev,
.carousel-control-next {
    top: calc(80% - 15px);
}

.carousel-control-next {
    left: -25px;
}

.carousel-control-prev {
    right: -25px;
}

.carousel-item img {
    height: 25%;
    max-width: 35%;
    margin-top: 500px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.navbar-brand img {
    width: auto;
    height: 70px;
}
